.image-card {
    width: 100%;
    height: 300px;
    border-radius: 7px 7px 0 0;
    background-image: linear-gradient( hsla(277, 88%, 30%, 0.6), hsla(277, 88%, 30%, 0.6) ),
    url('/images/image-header-mobile.jpg');
    background-size: 100% 100%;
}